extends layout

include mixins/_priceForm
include mixins/_review

block content
  .single
    .single__hero
      .single__actions        

      img.single__image(src=`/uploads/${item.photo || 'item.jpg'}`)
      h2.title.title--single
        a(href=`/item/${item.slug}`) #{item.name}
      .single__actions_end
      
  .single__details.inner    
    p= item.description

    if item.tags
      ul.tags
        each tag in item.tags
          li.tag
            a.tag__link(href=`/tags/${tag}`)
              span.tag__text  ##{tag}
    
    if user
      +priceForm(item._id)

    if item.reviews
      .reviews
        each review in item.reviews
          .review
            +review(review)
